<%= form_for @calendar, :url => time_tables_batch_edit_path(@library, @calendar) do |f| %>
	<div class="form-group">
		<%= f.label :open %>
		<%= time_select("calendar", "open") %>
	</div>

	<div class="form-group">
		<%= f.label :close %>
		<%= time_select("calendar", "open") %>
	</div>

	<%= f.submit "Update Hours", class: "btn btn-primary btn-sm" %>
<% end %>