<div class="row">
  <div class="col-sm-8">
    <div class="card mb-3">
      <div class="card-block">
        <div class="card-title">
          <h2 class="text-center">Editable Locations</h2>
        </div>
        <div class="card-text">
          <table class="table">
            <tbody>
              <% @locations.each do |lib| %>
              <tr>
                <td><%= link_to lib.name, edit_location_path(lib) %></td>
                <td><%= link_to 'Set Hours', exceptional_edit_location_timetables_path(lib)%></td>
                <td><%= link_to 'Batch Edit Hours', batch_edit_location_timetables_path(lib)%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-block">
        <p class="card-text">
          <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add New Location'.html_safe, new_location_path %>
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <p class="card-text">
          <%= link_to '<i class="fa fa-user-plus" aria-hidden="true"></i> Add User'.html_safe, new_user_path %>
        </p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
        <p class="card-text">
          <%= link_to '<i class="fa fa-users" aria-hidden="true"></i> Manage Users'.html_safe, users_path %>
        </p>
      </div>
    </div>
  </div>
</div>
