<div class="col-md-12 text-center">
  <div class="well controls">
    <%= link_to location_path(date: @date - 1.month), class: "btn btn-default" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <% end %>
    <span class="lead"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
    <%= link_to location_path(date: @date + 1.month), class: "btn btn-default" do %>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <% end %>
  </div>
</div>

<div class="col-md-12">
    <%= calendar_builder @date do |date| %>
      <div class="day-date"><%= date.day %></div>
    <% end %>
</div>
