<div>
  <%= form_for(@location, url: @location.new_record? ? locations_path : location_path(@location.code)) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <% if current_user.administrator? %>
        <%= f.text_field :name, :class => "form-control" %>
      <% else %>
        <p class="static-control-form"><%= @location.name %></p>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :code %>
      <% if @location.new_record? || current_user.administrator? %>
        <%= f.text_field :code, :class => "form-control" %>
      <% else %>
        <p class="static-control-form"><%= @location.code %></p>
      <% end %>
    </div>

    <div class="form-group">
      <h3>Location Display Options</h3>
        <% if current_user.administrator? %>
          <ul>
            <li><%= f.label(:suppress_display) { f.check_box(:suppress_display).safe_concat(" Suppress Display") } %></li>
            <li><%= f.label(:front_page) { f.check_box(:front_page).safe_concat(" Front Page") } %></li>
            <li><%= f.label(:primary) { f.check_box(:primary).safe_concat(" Primary") } %></li>
          </ul>
          <div class="form-group">
            <%= f.label :primary_location %>
            <%= collection_select(:location, :primary_location_id, Location.where(primary: true), :id, :name, {include_blank: 'None'}) %>
          </div>
        <% else %>
          <ul>
            <% if @location.suppress_display %>
              <li><span class="warn static-control-form"><%= t("location.suppressed") %></span></li>
            <% end %>
            <li>Front Page: <%= (!!@location.front_page).to_s %></li>
            <li>Primary: <%= (!!@location.primary).to_s %></li>
            <% if @location.primary_location %>
              <li>Primary Location: <%= @location.primary_location.name %></li>
            <% end %>
          </ul>
        <% end %>
    </div>

    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_field :comment, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :comment_two %>
      <%= f.text_field :comment_two, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :short_note, 'Short Note (for API Administrators)' %>
      <%= f.text_field :short_note, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :short_note_url, 'Short Note URL (for API Administrators)' %>
      <%= f.text_field :short_note_url, :class => "form-control" %>
    </div>


    <div class="form-group">
      <h3>WiFi Configuration</h3>
      <div class="form-group">
        <%= f.label :wifi_connections_baseline, 'WiFi Connections Baseline Count' %>
        <%= f.text_field :wifi_connections_baseline, :class => "form-control" %>
      </div>
      <% current_aps = @location.access_point_ids.map(&:to_s) %>
      <%= access_point_checkboxes(Hours::WifiDensity.access_point_trees(@location), (1...).each, current_aps) %>
    </div>
    <%= f.submit :class => 'btn btn-primary btn-sm'%>
  <% end %>
</div>
