<% wifi_data_available_for_at_least_one_location = false %>
<div id="home-toc">
  <h2 class="h4 text-uppercase text-center">Libraries Open Now</h2>
  <h3 class="small text-center">Click on a location for its full schedule.</h3>
  <ul class="lib-list">
    <% @locations.each do |location| %>
      <%-
          status = until_or_closed(location, @open)
          use_class = " is-closed" if status == 'CLOSED'
          use_class = " is-24" if status == 'OPEN'
       %>
       <%-
          if status == 'CLOSED'
            if @closed_location_ids_to_tomorrow_open_timetables.key?(location.id)
              next_open_timetable = @closed_location_ids_to_tomorrow_open_timetables[location.id]
              closed_location_next_open = "Next Open<br />#{next_open_timetable.date.strftime("%-m/%e")} #{next_open_timetable.open_time.strftime("%l:%M %P")} - #{next_open_timetable.close_time.strftime("%l:%M %P")}"
            else
              closed_location_next_open = "Not open within the next 24 hours."
            end
          end
       %>
      <li class="location-item">
        <span class="closes-at pull-right<%= use_class %>">
          <% if status == 'CLOSED' %>
            <span data-toggle="tooltip" data-placement="top" title="<%= closed_location_next_open %>">
              <%= status %>
            </span>
          <% else %>
            <%= status %>
          <% end %>
        </span>
        <%- if (status != 'CLOSED' || Rails.env.development?) && (density_percentage = Hours::WifiDensity.percentage_for(location)) %>
          <span class="density-percentage pull-right"><span class="fal fa-signal"></span> <%= density_percentage %>%</span>
          <%- wifi_data_available_for_at_least_one_location = true %>
        <%- end %>
        <%= link_to location.name, location_path(location.code) %>
      </li>
    <% end %>
  </ul>
  <%- if wifi_data_available_for_at_least_one_location %>
    <p id="wifi_usage_data_statement" class="mt-3 trajanpro text-center">
      <span class="fal fa-signal"></span> Current WiFi usage data. Data provided by CUIT. <a href="https://library.columbia.edu/using-libraries/study-spaces/density-info.html">More details &amp; privacy information.</a>
    </p>
  <%- end %>
</div>
