
<div class="location row">

    <div class="col-md-12">
      <h2 class="location-name"><%= link_to @location.name, @location.url %></h2>
      <div class="location-primary-comment">
        <% if @location.suppress_display %>
          <p class="warn"><%= t("location.suppressed") %></p>
        <% end %>
        <% if @location.primary_location %>
          <p>Check hours for: <strong class="text-center"><%= link_to @location.primary_location.name, location_path(@location.primary_location.code) %></strong></p>
        <% end %>
        <%= @location.comment.html_safe if @location.comment %>
      </div>
    </div>

    <%= render "timetables/timetable" %>
    <%= render "timetables/secondaries" %>

</div>

<div class="row">
    <div class="col-md-12">
      <div class="location-secondary-comment">
        <%= @location.comment_two %>
      </div>
    </div>
</div>
