<!DOCTYPE html>
<html>
  <head>
    <title>Columbia University Libraries | Location Hours</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<%= render :partial => 'layouts/topnavbar' %>
	<div class="container" id="outer-wrapper">


		<div id="site-banner">
			<div class="row">
			 <div id="site-banner-inner">
			  <div class="col-sm-9">
				<h1>
					<%= link_to(image_tag("/assets/cul-banner-hours.png", :alt => "logo", :title => "Hours Home"), "/") %>
				</h1>
			  </div>
			  <div class="col-sm-3 hidden-xs">
			   <div id="site-banner-left"><a href="https://blogs.cul.columbia.edu/spotlights/"><img class="spotlight" src="http://library.columbia.edu/content/libraryweb/srcdoc/homepage_spotlight/_jcr_content/layout_par_main_1/image_v2.img.jpg/1370032412527.jpg" alt="Spotlight Blog"></a></div>
			  </div>
			 </div>
			</div><!--/row-->
		</div> <!--/#site-banner-->

		<div id="culnav" class="navbar well-mini">
			<div class="navbar-inner square-all">
				<div class="container-fluid">
						<ul id="culnav-main" class="nav navbar-nav">
							<li><a href="http://library.columbia.edu"><i class="glyphicon glyphicon-home"></i> Libraries Home</a></li>
							<li class="divider-vertical"></li>
							<li><a href="/"><i class="glyphicon glyphicon-time"></i> Hours Home</a></li>
						</ul>
				</div>
			</div>
		</div>

		<div class="container body-contain">
		  <%= render 'layouts/messages' %>
		  <%= yield %>
		</div>

		<%= render 'layouts/footer' %>
	</div> <!-- /#outer-wrapper -->
  </body>

</html>
