<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title(@location) %> | Columbia University Libraries</title>
    <meta charset="utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render :partial => 'layouts/toolkit' %>
    <%= javascript_include_tag 'application', defer: true %>
    <% if Rails.application.config.track_users && Rails.application.credentials[:analytics_key] -%>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials[:analytics_key]%>"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= Rails.application.credentials[:analytics_key]%>');
    </script>
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://columbia-libraries.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '18']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='https://cdn.matomo.cloud/columbia-libraries.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    <% end -%>
    <script src="https://cdn.cul.columbia.edu/fontawesome/pro/v5.x/js/all.js" defer="defer" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="alert-container"  data-subscriptions="hours,all-sites"></div>
    <%= render :partial => 'layouts/topnavbar' %>
    <main role="main">
    <%= render :partial => 'layouts/banner' %>
    <div class="container mb-3" id="outer-wrapper">
      <div class="body-contain">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div> <!-- /#outer-wrapper -->
      <%= render 'layouts/fat_footer' %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
