<!DOCTYPE html>
<html>
  <head>
    <title>Columbia University Libraries | Location Hours</title>
    <meta charset="utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<%= render :partial => 'layouts/topnavbar' %>
	<div class="container" id="outer-wrapper">

    <%= render :partial => 'layouts/banner' %>
  	<%= render :partial => 'layouts/culnav' %>

		<div class="body-contain">
		  <%= render 'layouts/messages' %>
		  <%= yield %>
		</div>

		<%= render 'layouts/footer' %>
	</div> <!-- /#outer-wrapper -->
  </body>

</html>
